<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Chloé de Lune</title>
</head>
<body>
    <ul>In the Sea ‘s a solemn reed;</ul>
    <ul>it floats & sings a chord</ul>
    <ul>over billows from Her breeze</ul>
    <ul>to listen of her Alone.</ul>

    <form id="comment-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment"></textarea><br><br>
        <button type="submit">Submit</button>
      </form>
      <div id="comments"></div>

    <audio controls autoplay src="static/audio/claredelune.mp3"></audio>
</body>
</html>